<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BCIT Parkly</title>
    <link rel="stylesheet" type="text/css" href="/css/editPage.css" />
  </head>
  <body>
    <header>
      <a href="/"><img src="/assets/bcit-logo.png" alt="BCIT Logo" /></a>

      <!--Header title and subtitle-->
      <div class="header-titles">
        <h2>Parkly</h2>
        <h6>Downtown Campus</h6>
      </div>

      <!--Header tabs-->
      <div class="header-tabs">
        <a href="/">Find Parking</a>
        <a href="/info/permits">Permits & Rates</a>
        <a href="/reserve/reservations/">My Reservations</a>
        <a href="/info/help">Help & Support</a>
      </div>

      <!--Sign in button-->
    <% if (locals.user === null) { %>
    <a role="button" href="/users/login" class="sign-in-btn">
    <i class="fa-solid fa-user"></i>
    Sign In
    </a>
    <% } else { %>
    <a role="button" href="/users/logout" class="sign-in-btn">
    <i class="fa-solid fa-user"></i>
    Sign Out
    </a>
    <% } %>
    </header>
    </section>
    <!--Breadcrum bar under the header bar-->
    <section class="breadcrumb-bar">
      <div class="subheading">
        <!--❗❗❗ WILL MAKE THIS DYNAMIC LATER ❗❗❗-->
        <a href="/">Home</a>
        <span class="seperator">›</span>
        <span class="current-pg">myReservations</span>
      </div>
    </section>
    <!-- reservation heading under breadcrumb bar -->
    <div class="entire-page">
    <p style="color:red;"><%= error %></p>
      <div class="header-title">
        <h1>Edit your reservation</h1>

      </div>
    <% if (locals.user === null) { %>  
        <p>Login to setup reservations!</p>
      <% } else { %>
      <div class="entire-forms">
          <div class="form-content">
              <form action="/reserve/reservations/edit/<%= toEdit.reservation_id %>" method="post">
              <p class="license-plate">Change license plate:</p>
              <input type="text" name="license_plate" value="<%= toEdit.license_plate %>">
              <p class="total-cost">Time reserving: </p>
              <input id="pricing" class="payment" type="number" name="total_cost" value="<%= toEdit.total_cost %>">
              <p>Cost: value here</p>
              <p class="stall-area">Stall Area: </p>
              <select type="text" name="stall_location" value="<%= toEdit.stall_location %>"> </select>
              <p class="lot-location">Change lot:</p>
              <select id="lot-select" type="text" name="lot_id" value="<%= toEdit.lot_id %>"> 
                <% lots.forEach(lot => {%> 
                  <option value="<%= lot.lot_id %>" selected="<%= toEdit.lot_id %>"><%= lot.lot_name %></option>
                  <%}) %>
              </select>
              <p class="stall-location">Change stall:</p>
              <select id="stall-select" type="number" name="stall_id" value="<%= toEdit.stall_id %>">
                <% stalls.forEach(stall => {%> 
                  <option class="stall-option" data-lot-id="<%= stall.lot_id %>" value="<%= stall.stall_id %>" selected="<%= toEdit.stall_id %>"><%= stall.stall_id %> - <%= stall.parking_type %></option>
                  <%}) %>
                 </select>
              <button class="submit"type="submit">Submit changes</button>
              </form>
          </div>
      </div>
    <% } %>
    </div>
    <footer>
      <div class="footer-container">
        <div class="footer-col">
          <div class="footer-logo">
            <img src="/assets/bcit-logo.png" alt="BCIT Logo" />
          </div>
          <p>
            3700 Willingdon Ave.
            <br />
            Burnaby, British Columbia
            <br />
            Canada V5G 3H2
          </p>
          <p>
            604-434-5734
            <br />
            1-866-434-1610
          </p>
        </div>

        <div class="footer-col">
          <h4>QUICK LINKS</h4>
          <ul>
            <li><a href="#">Visit</a></li>
            <li><a href="#">Apply Now</a></li>
            <li><a href="#">Give</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h4>BCIT CAMPUSES</h4>
          <ul>
            <li><a href="#">Burnaby Campus</a></li>
            <li><a href="#">Downtown Campus</a></li>
            <li><a href="#">Marine Campus</a></li>
            <li><a href="#">Aerospace Technology Campus</a></li>
            <li><a href="#">Annacis Island Campus</a></li>
          </ul>
        </div>
      </div>

      <!-- Bottom legal Bar -->
      <div class="footer-bottom">
        <div class="footer-bottom-links">
          <a href="#">Copyright</a>
          <a href="#">Privacy</a>
          <a href="#">Terms of Use</a>
          <a href="#">Accessibility</a>
        </div>
      </div>
    </footer>
    <script>
    
    const selectLot = document.getElementById("lot-select")
    const selectStall = document.getElementById("stall-select")

    // makes an array where is queries all options
    const optionSelect = Array.from(selectStall.querySelectorAll(".stall-option"))

    
    selectLot.addEventListener("change", function() {
      // inputs the id of the selected lot to then query
      const selectedLot = selectLot.value;
      // default value in when there is no value selected
      selectStall.innerHTML = '<option value="">-- Select a Stall --</option>';

      optionSelect.forEach(function (option) {
        //compares if the lot id of the stall matches the selected stall id
          if (option.dataset.lotId === selectedLot){
            //appends the stall if the lot_id's match
            selectStall.appendChild(option)
          }
      })
    })
    selectLot.dispatchEvent(new Event("change"));
    </script>
  </body>
</html>
