<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BCIT Parkly</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/singleReservation.css" />
  </head>
  <body>
    <header>
      <a href="/"><img src="/assets/bcit-logo.png" alt="BCIT Logo" /></a>

      <!--Header title and subtitle-->
      <div class="header-titles">
        <h2>Parkly</h2>
        <h6>Downtown Campus</h6>
      </div>

      <!--Header tabs-->
      <div class="header-tabs">
        <a href="/">Find Parking</a>
        <a href="/info/permits">Permits & Rates</a>
        <a href="/reserve/reservations">My Reservations</a>
        <a href="/info/help">Help & Support</a>
      </div>

      <!--Sign in button-->
    <% if (locals.user === null) { %>
    <a role="button" href="/users/login" class="sign-in-btn">
    <i class="fa-solid fa-user"></i>
    Sign In
    </a>
    <% } else { %>
    <a role="button" href="/users/logout" class="sign-in-btn">
    <i class="fa-solid fa-user"></i>
    Sign Out
    </a>
    <% } %>
    </header>
    </section>
    <!--Breadcrum bar under the header bar-->
    <section class="breadcrumb-bar">
      <div class="subheading">
        <!--❗❗❗ WILL MAKE THIS DYNAMIC LATER ❗❗❗-->
        <a href="/">Home</a>
        <span class="seperator">›</span>
        <span class="current-pg">myReservations</span>
      </div>
    </section>
    <main class="reservation-view-page">
      <!-- reservation heading under breadcrumb bar -->
       <div>
       <h1>Your Reservation</h1>
       </div>
          <div class="induvidual-reservation">
          <% reservation.forEach(info => { %>
            <div class="info-reservation">
              <div class="column-name">
              <p>Lot floor: </p>
              <p>Lot name: </p>
              <p>Stall ID: </p>
              <p>Stall type: </p>
              <p>License plate: </p>
              <p>Purchase date: </p>
              <p>Start date:</p>
              <p>End date:</p>
              <p>Cost: </p>
              </div>
              <div class="column-info">
                <p><%= info.lot_floor %></p>
                <p><%= info.lot_name %></p>
                <p><%= info.stall_id %></p>
                <p><%= info.parking_type %></p>
                <p><%= info.license_plate %></p>
                <p><%= info.purchase_date %></p>
                <p><%= info.start_time %></p>
                <p><%= info.end_time %></p>
                <p>$<%= info.total_cost %></p>

              </div>
              <div class="reservation-actions">
                <a class="back-btn" href="/reserve/reservations">Go back</a>
                <a class="edit-btn" href="/reserve/reservations/edit/<%= info.reservation_id %>">Edit reservation</a>
                <form method="post" action="/reserve/reservations/delete/<%= info.reservation_id %>" onsubmit="return confirm('are you sure you want to cancel?')">
                  <button class="delete-btn" type="submit">Delete reservation</button>
                </form>
              </div>
            </div>
          <% }) %>
          </div>
    </main>
    <footer>
      <div class="footer-container">
        <div class="footer-col">
          <div class="footer-logo">
            <img src="/assets/bcit-logo.png" alt="BCIT Logo" />
          </div>
          <p>
            3700 Willingdon Ave.
            <br />
            Burnaby, British Columbia
            <br />
            Canada V5G 3H2
          </p>
          <p>
            604-434-5734
            <br />
            1-866-434-1610
          </p>
        </div>

        <div class="footer-col">
          <h4>QUICK LINKS</h4>
          <ul>
            <li><a href="#">Visit</a></li>
            <li><a href="#">Apply Now</a></li>
            <li><a href="#">Give</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h4>BCIT CAMPUSES</h4>
          <ul>
            <li><a href="#">Burnaby Campus</a></li>
            <li><a href="#">Downtown Campus</a></li>
            <li><a href="#">Marine Campus</a></li>
            <li><a href="#">Aerospace Technology Campus</a></li>
            <li><a href="#">Annacis Island Campus</a></li>
          </ul>
        </div>
      </div>
      <!-- Bottom legal Bar -->
      <div class="footer-bottom">
        <div class="footer-bottom-links">
          <a href="#">Copyright</a>
          <a href="#">Privacy</a>
          <a href="#">Terms of Use</a>
          <a href="#">Accessibility</a>
        </div>
      </div>
    </footer>
  </body>
</html>
